@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-zinc-900;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.375rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-500;
  border-radius: 0.375rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
